# dirs not to keep
/target
/data/*.csv
/data/*/*
Cargo.lock
/src/backup
/notebooks/*.py
*/__pycache__/

# figures
*.pdf
*.png
*.svg
*.jpeg
*.jpg

# weird TeX shit
*.aux
*.fdb_*
*.fls
*.log
*.nav
*.out
*.snm
*.sync*
*.toc

# animations
*.mp4
*.gif
